### What is Train-Test-Split

-train_test_split() is a sckit- learn class help to split the data in to 4 dataset(like: X_train, X_test, y_train, y_test).

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df = sns.load_dataset("titanic")

In [4]:
df2 = df[['survived', 'pclass', 'age', 'parch']]
df3 = df2.fillna(df2.mean())
df3

     survived  pclass        age  parch
0           0       3  22.000000      0
1           1       1  38.000000      0
2           1       3  26.000000      0
3           1       1  35.000000      0
4           0       3  35.000000      0
..        ...     ...        ...    ...
886         0       2  27.000000      0
887         1       1  19.000000      0
888         0       3  29.699118      2
889         1       1  26.000000      0
890         0       3  32.000000      0

[891 rows x 4 columns]

In [5]:
x=df3.drop("survived", axis=1)
y=df3["survived"]
print("Shape of x =", x.shape)
print("Shape of y =", y.shape)

Shape of x = (891, 3)
Shape of y = (891,)

In [8]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
print('Shape of x_train =', x_train.shape)
print('Shape of x_test =', x_test.shape)
print('Shape of y_train =', y_train.shape)
print('Shape of y_test =', y_test.shape)

Shape of x_train = (623, 3)
Shape of x_test = (268, 3)
Shape of y_train = (623,)
Shape of y_test = (268,)

In [18]:
x_train

     pclass        age  parch
445       1   4.000000      2
650       3  29.699118      0
172       3   1.000000      1
450       2  36.000000      2
314       2  43.000000      1
..      ...        ...    ...
106       3  21.000000      0
270       1  29.699118      0
860       3  41.000000      0
435       1  14.000000      2
102       1  21.000000      1

[623 rows x 3 columns]